---
import Layout from "../layouts/Layout.astro";

const url1 =
  "http://localhost:4004/api/slider-list/66642ec165e6e93f30d9d3d1?draft=false&depth=1";
let dt_sliderlist;
try {
  const req = await fetch(url1);
  dt_sliderlist = await req.json();
} catch (err) {
  console.log(err);
}
---

<Layout title="DeoWebsite">
  <h1 class="text-xl text-center">Gallery Page</h1>
</Layout>
