---
import "../app.css";

import Layout from "../layouts/Layout.astro";
import Feature from "../components/featuresection.astro";
import Gallery from "../components/gallerysection.astro";
import Card from "../components/Card.astro";
const url1 = "http://localhost:4004/api/config?depth=1";
let dt_config;
try {
  const req = await fetch(url1);
  const dt = await req.json();
  dt_config = dt?.docs[0];
} catch (err) {
  console.log(err);
}
---

<Layout title="DeoWebsite">
  <div class="hero min-h-[28rem] bg-base-200 relative">
    <div
      class="bg-white absolute left-50 top-50 w-[50%] h-[50%] md:w-[75%] md:h-[100%] rounded-full z-100 blur-xl md:blur-2xl transition-all delay-100"
    >
    </div>
    <div class="hero-content text-center">
      <div class="md:w-10/12">
        <h1 class="text-4xl font-bold">{dt_config.heaer_text}</h1>
        <p class="font-bold text-md">{dt_config.subheader_text}</p>
        <p class="py-2">{dt_config.content}</p>
      </div>
    </div>
  </div>

  <div class="container">
    <Card />
  </div>

  <div class="container bg-base-200">
    <Feature />
  </div>
  <div class="container mx-auto">
    <Gallery />
  </div>
</Layout>
