---
import Layout from '../layouts/Layout.astro';

import Footr from '../components/foot.astro';
import Feature from '../components/featuresection.astro';
import Gallery from '../components/gallerysection.astro';
import Slider from '../components/slider.jsx'
const url1='http://localhost:4004/api/slider-list/66642ec165e6e93f30d9d3d1?draft=false&depth=1'
let dt_sliderlist
try {
  const req = await fetch(url1)
  dt_sliderlist = await req.json()

} catch (err) {
  console.log(err)
}
---
<Layout title="Welcome to Astro.">	
	<main>		
		<Slider sliderList={dt_sliderlist} client:load/>
		<Feature/>
		<Gallery/>
		<Footr></Footr>
	</main>
</Layout>



