---
import Slider from "./slider";

let dt_list;
const url1 = "http://localhost:4004/api/circulars?depth=1";
try {
	const req = await fetch(url1);
	const dt = await req.json();
	dt_list = dt?.docs;
} catch (err) {
	console.log(err);
}
---

<div class="container my-4 mx-4">
	<div
		class="bg-secondary text-white px-4 py-2
	w-4/12 text-lg uppercase font-bold rounded-t-xl"
	>
		circulars
	</div>
	<div class="border border-secondary shadow shadow-secondary">
		<Slider sliderList={dt_list} client:load />
	</div>
</div>
