---
    const menuItemList=["HOME","SCHOOLS","ABOUT","CONTACT"]
---
<div>
    <ul>
    {
        menuItemList.map(item=><li class="text-slate-800  hover:underline">{item}</li>)
    }        
    </ul>
</div>